// Bio styles

#bio {
    width: 100%;
    background-color: $background-dark;
    h2 {
        padding-left: 15px;
    }
    p {
        padding-left: 15px;
    }
    @include media-2 {
        display: flex;
        #bio-one {
            width: 50%;
        }
        #bio-two {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            div {
                margin-bottom: auto;
            }
        }
    }
}

#bio-one {
    p:first-of-type {
        font-weight: bold;
    }
}

#bio-two {
    p:nth-of-type(3) {
        color: $text-midtone;
    }
    a {
        color: $text-white;
        text-decoration: none;
    }
}

#bio-two {
    h2:after {
        margin-top: 40px;
        display: block;
        content: url('/img/star.png') url('/img/star.png') url('/img/star.png') url('/img/star.png') url('/img/star.png');
    }
}