
// form

#form {
    background-color: $background-light;
    width: 100%;
    h2 {
        color: $text-dark;
        padding-left: 15px;
    }
    label {
        color: $text-dark;
        padding-left: 15px;
    }
    input {
        margin-left: 15px;
    }
    a {
        text-decoration-line: underline;
        color: $text-dark;
    }
    aside {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: flex-start;
    }
    form {
        @include media-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: flex-start;
            .name {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            .email {
                grid-column-start: 2;
                grid-column-end: 3;
            }
            label {
                grid-row-start: 1;
                grid-row-end: 2;
            }
            input {
                grid-row-start: 2;
                grid-row-end: 3;
            }
            button {
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }
}
