
// form

#form {
    background-color: $background-light;
    width: 100%;
    h2 {
        color: $text-dark;
        padding-left: 15px;
    }
    label {
        color: $text-dark;
        padding-left: 15px;
    }
    input {
        margin-left: 15px;
    }
    a {
        text-decoration-line: underline;
        color: $text-dark;
    }
    aside {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: flex-start;
    }
}
