// footer style

footer {
    background-color: $background-dark;
    margin: 0;
    width: 100%;
    z-index: 0;
    p {
        margin: 0;
    }
    h2 {
        font-size: 16px;
        text-transform: uppercase;
        padding-left: 15px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li, p {
        font-size: 13px;
        padding-left: 15px;
    }
    aside {
        background-color: $button-cookie;
        font-style: bold;
        width: 160px;
        position: relative;
        z-index: 1;
        border-top-right-radius: 5px;
    }
    #logo {
        margin-left: 15px;
        margin-top: 15px;
        max-width: 70%;
    }
}

#copyright {
    background-color: $button-social;
    @include media-1 {
        p {
            display: inline;
        }
    }
}

#footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    @include media-1 {
        grid-template-columns: 1fr 1fr;
    }
}