// grid

#grid {
    width: 100%;
    background-color: $background-light;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    h1 {
        font-size: 43px;
        align-self: left;
        padding-left: 15px;
        color: $text-dark;
    }
    a {
        color: $text-dark;
        font-size: 26px;
        align-self: center;
        text-decoration: none;
        &:hover {
            text-decoration-line: underline;
        }
    }
}

.grid-item {
    background-color: $background-white;
    margin: 15px;
    border-color: $text-dark;
    border-radius: 10%;
    h2 {
      color: $text-dark;
      text-align: center;
    }
}