// header style

header {
    background-color: $background-white;
    width: 100%;
    min-height: 18%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    h1 {
        color: $text-dark;
    }
    img {
        margin-left: 15px;
        margin-top: 15px;
        max-width: 70%;
    }
    svg {
        display: block;
        color: $text-dark;
        width: 50px;
        align-self: center;
        text-decoration: none;
        &:hover {
                text-decoration-line: underline;
        }
    }
    button {
        text-decoration: underline;
    }
    input:first-of-type {
        display: none;
    }
    input:nth-of-type(2) {
        display: block;
    }
    @include media-1 {
        input:first-of-type {
            display: inline;
        }
        input:nth-of-type(2) {
            display: none;
        }
    }
}