// news

.view {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; 
}

#news {
    background-color: $background-white;
    width: 100%;
    h2 {
        color: $text-dark;
        padding-left: 15px;
    }
    h3 {
        color: $news-blue;
        padding-left: 15px;
    }
    a {
        color: $text-dark;
        font-size: 26px;
        align-self: center;
        text-decoration: none;
        &:hover {
            text-decoration-line: underline;
        }
    }
}
